if SHIELD_TEST

config ZMK_KEYBOARD_NAME
    default "Test"

config ZMK_SPLIT
    default y

endif

if SHIELD_TEST_R

config ZMK_KEYBOARD_NAME
    default "Test_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

