config SHIELD_TEST
    def_bool $(shields_list_contains,Test)

config SHIELD_TEST_RIGHT
    def_bool $(shields_list_contains,Test_right)

config SHIELD_TEST_LEFT
    def_bool $(shields_list_contains,Test_left)