#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp Q   &kp W   &kp E   &kp E   &kp T                       &kp Y   &kp U   &kp I   &kp O   &kp P   
                &kp A   &kp S   &kp D   &kp F   &kp G   &none       &none   &kp H   &kp J   &kp K   &kp L   &none 
                &kp Z   &kp X   &kp C   &kp V   &kp B   &none       &none   &kp N   &kp M   &none   &none   &none
                &none   &none   &none   &none   &none   &none       &none   &none                   &none   &none   
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        
    };

};